body{
    background-color:orangered;
    color:black
}

h1{ 
    font-size: 36px;
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    text-align: center;
    text-decoration: underline;

}
h2{ 

text-decoration: dashed;
font-style:normal;
}

.page-header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #f5f5f5; 
}

.page-header img {
  width: 120px;   
  height: auto;
  border-radius: 8px; 
}

.page-header h1 {
  font-size: 2rem;
  margin: 0;
}

.menu {
  padding: 10px 20px;
  background-color:rgb(0, 0, 0);
}

.menu a {
  text-decoration: none;
  color: #ffffff;
}


.page-footer {
  background-color: #f5f5f5;    
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
  border-top: 1px solid #ddd;
  font-size: 1rem;
}

.page-footer p {
  margin: 0;
  color: #333;
}
